# **INVENTORY AND ORDER MANAGEMENT SYSTEM**

Handles everything from server connection, db creation and connection, table creations, CRUD operations on the tables created, stored procedures, triggers and analysis.

## **IMPORT PACKAGES**

In [1]:
#Import os and sys
import os
import sys 
from pathlib import Path


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from Config.config import loadEnv

#Imports read files from Read files module
from Read_files.readFile import read_sql_file

## **BYPASS KEY ERROR**

In [2]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [3]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [4]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

 * mysql+pymysql://root:***@localhost:3306/
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [5]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[('inventory',)]

That clearly shows that we are connected to the inventory database

## **TABLE CREATION**

Creates the customers, orders, orderItems, products, inventory, productCategory, and procurement staff tables

### **CUSTOMERS TABLE**

In [6]:
#Creates the path to the customers sql script
customersTablePath = project_root / "DDL" / "Create_Tables" / "customersTable.sql"

#Reads the sql script
customersTableContent = read_sql_file(customersTablePath)

#Creates the customers table
%sql $customersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDERS TABLE**

In [7]:
#Creates the path to the customers sql script
ordersTablePath = project_root / "DDL" / "Create_Tables" / "ordersTable.sql"

#Reads the sql script
ordersTablecontent = read_sql_file(ordersTablePath)

#Creates the orders table
%sql $ordersTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory

0 rows affected.

[]

### **PRODUCT CATEGORY**

In [8]:
#Creates the path to the customers sql script
productsCatTablePath = project_root / "DDL" / "Create_Tables" / "productCategoryTable.sql"

#Reads the sql script
productsCatTablecontent = read_sql_file(productsCatTablePath)

#Creates the orders table
%sql $productsCatTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCTS**

In [9]:
#Creates the path to the customers sql script
productsTablePath = project_root / "DDL" / "Create_Tables" / "productsTable.sql"

#Reads the sql script
productsTablecontent = read_sql_file(productsTablePath)

#Creates the orders table
%sql $productsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDER ITEMS**

In [15]:
#Creates the path to the customers sql script
orderItemTablePath = project_root / "DDL" / "Create_Tables" / "orderItemsTable.sql"

#Reads the sql script
orderItemTablecontent = read_sql_file(orderItemTablePath)

#Creates the orders table
%sql $orderItemTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY**

In [11]:
#Creates the path to the customers sql script
inventoryTablePath = project_root / "DDL" / "Create_Tables" / "inventoryTable.sql"

#Reads the sql script
inventoryTablecontent = read_sql_file(inventoryTablePath)

#Creates the orders table
%sql $inventoryTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PROCUREMENT STAFF**

In [12]:
#Creates the path to the customers sql script
procurementTablePath = project_root / "DDL" / "Create_Tables" / "procurementsTAFFTable.sql"

#Reads the sql script
procurementTablecontent = read_sql_file(procurementTablePath)

#Creates the orders table
%sql $procurementTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY ALERTS**

In [13]:
#Creates the path to the customers sql script
inventoryAlertsTablePath = project_root / "DDL" / "Create_Tables" / "inventoryAlertSTable.sql"

#Reads the sql script
inventoryAlertsTablecontent = read_sql_file(inventoryAlertsTablePath)

#Creates the orders table
%sql $inventoryAlertsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [16]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
8 rows affected.

[('customer',),
 ('inventory',),
 ('inventory_alerts',),
 ('order_items',),
 ('orders',),
 ('procurement_staff',),
 ('product_categories',),
 ('products',)]

## **INSERT VALUES INTO THE DATABASE**