# **INVENTORY AND ORDER MANAGEMENT SYSTEM**

Handles everything from server connection, db creation and connection, table creations, CRUD operations on the tables created, stored procedures, triggers and analysis.

## **IMPORT PACKAGES**

In [1]:
#Import os and sys
import os
import sys 
from pathlib import Path


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from Config.config import loadEnv

#Imports read files from Read files module
from Read_files.readFile import read_sql_file

## **BYPASS KEY ERROR**

In [2]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [3]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [4]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

 * mysql+pymysql://root:***@localhost:3306/
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [5]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[('inventory',)]

That clearly shows that we are connected to the inventory database

## **TABLE CREATION**

Creates the customers, orders, orderItems, products, inventory, productCategory, and procurement staff tables

### **CUSTOMERS TABLE**

In [6]:
#Creates the path to the customers sql script
customersTablePath = project_root / "DDL" / "Create_Tables" / "customersTable.sql"

#Reads the sql script
customersTableContent = read_sql_file(customersTablePath)

#Creates the customers table
%sql $customersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDERS TABLE**

In [7]:
#Creates the path to the customers sql script
ordersTablePath = project_root / "DDL" / "Create_Tables" / "ordersTable.sql"

#Reads the sql script
ordersTablecontent = read_sql_file(ordersTablePath)

#Creates the orders table
%sql $ordersTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCT CATEGORY**

In [8]:
#Creates the path to the customers sql script
productsCatTablePath = project_root / "DDL" / "Create_Tables" / "productCategoryTable.sql"

#Reads the sql script
productsCatTablecontent = read_sql_file(productsCatTablePath)

#Creates the orders table
%sql $productsCatTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCTS**

In [9]:
#Creates the path to the customers sql script
productsTablePath = project_root / "DDL" / "Create_Tables" / "productsTable.sql"

#Reads the sql script
productsTablecontent = read_sql_file(productsTablePath)

#Creates the orders table
%sql $productsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDER ITEMS**

In [10]:
#Creates the path to the customers sql script
orderItemTablePath = project_root / "DDL" / "Create_Tables" / "orderItemsTable.sql"

#Reads the sql script
orderItemTablecontent = read_sql_file(orderItemTablePath)

#Creates the orders table
%sql $orderItemTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY**

In [11]:
#Creates the path to the customers sql script
inventoryTablePath = project_root / "DDL" / "Create_Tables" / "inventoryTable.sql"

#Reads the sql script
inventoryTablecontent = read_sql_file(inventoryTablePath)

#Creates the orders table
%sql $inventoryTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PROCUREMENT STAFF**

In [12]:
#Creates the path to the customers sql script
procurementTablePath = project_root / "DDL" / "Create_Tables" / "procurementsTAFFTable.sql"

#Reads the sql script
procurementTablecontent = read_sql_file(procurementTablePath)

#Creates the orders table
%sql $procurementTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY ALERTS**

In [13]:
#Creates the path to the customers sql script
inventoryAlertsTablePath = project_root / "DDL" / "Create_Tables" / "inventoryAlertSTable.sql"

#Reads the sql script
inventoryAlertsTablecontent = read_sql_file(inventoryAlertsTablePath)

#Creates the orders table
%sql $inventoryAlertsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [14]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
8 rows affected.

[('customers',),
 ('inventories',),
 ('inventory_alerts',),
 ('order_items',),
 ('orders',),
 ('procurement_staff',),
 ('product_categories',),
 ('products',)]

## **INSERT VALUES INTO THE DATABASE**

### **INSERT INTO PRODUCT CATEGORY**

In [15]:
#Creates the path to the customers sql script
productCatDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProductCat.sql"

#Reads the sql script
productCatcontent = read_sql_file(productCatDataPath)

#Creates the orders table
%sql $productCatcontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
5 rows affected.

[]

In [16]:
%%sql

#Reads all the data in the product category table

SELECT * FROM `product_categories`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
5 rows affected.

[(1, 'Electronics', datetime.datetime(2025, 12, 25, 14, 14, 40), 1),
 (2, 'Furniture', datetime.datetime(2025, 11, 2, 11, 15), 1),
 (3, 'Groceries', datetime.datetime(2023, 11, 3, 9, 20), 1),
 (4, 'Clothing', datetime.datetime(2024, 11, 5, 12, 40), 1),
 (5, 'Automotive', datetime.datetime(2024, 11, 10, 8, 30), 0)]

### **INSERT INTO PRODUCTS**

In [17]:
#Creates the path to the customers sql script
productsDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProducts.sql"

#Reads the sql script
productscontent = read_sql_file(productsDataPath)

#Creates the orders table
%sql $productscontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[]

In [18]:
%%sql

#Outputs all the data in the Products table

SELECT * FROM `products`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[(101, 'Wireless Mouse', 1, Decimal('15.99'), 'ELEC-MSE-001', datetime.datetime(2024, 12, 1, 10, 0)),
 (102, 'Mechanical Keyboard', 1, Decimal('45.50'), 'ELEC-KBD-002', datetime.datetime(2024, 12, 2, 11, 0)),
 (103, 'Office Desk', 2, Decimal('120.00'), 'FURN-DSK-003', datetime.datetime(2024, 12, 5, 9, 30)),
 (104, 'Ergonomic Chair', 2, Decimal('220.75'), 'FURN-CHR-004', datetime.datetime(2024, 12, 8, 14, 0)),
 (105, 'T-Shirt (Large)', 4, Decimal('18.99'), 'CLTH-TSH-005', datetime.datetime(2024, 12, 10, 15, 10)),
 (106, 'Rice Bag (25kg)', 3, Decimal('32.49'), 'GROC-RIC-006', datetime.datetime(2024, 12, 15, 8, 50))]

### **INSERT INTO CUSTOMERS**

In [19]:
#Creates the path to the customers sql script
customersDataPath = project_root / "DML" / "Insert_Data" / "insertIntoCustomers.sql"

#Reads the sql script
customersContent = read_sql_file(customersDataPath)

#Creates the orders table
%sql $customersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[]

In [20]:
%%sql 

SELECT * FROM `customers`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[(1, 'John', 'Mensah', 'johnmensah@example.com', '+233201234567', 'Accra, Ghana', datetime.datetime(2024, 12, 1, 12, 0), 1),
 (2, 'Ama', 'Boateng', 'amaboateng@example.com', '+233545678901', 'Kumasi, Ghana', datetime.datetime(2024, 12, 3, 10, 30), 1),
 (3, 'Samuel', 'Osei', 'samuelosei@example.com', '+233501111222', 'Takoradi, Ghana', datetime.datetime(2024, 12, 4, 11, 45), 1)]

### **INSERT INTO ORDERS**

In [21]:
#Creates the path to the customers sql script
ordersDataPath = project_root / "DML" / "Insert_Data" / "insertIntoOrders.sql"

#Reads the sql script
ordersContent = read_sql_file(ordersDataPath)

#Creates the orders table
%sql $ordersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[]

In [22]:
%%sql 

SELECT * FROM `orders`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[(5001, 1, datetime.datetime(2024, 12, 18, 9, 0), Decimal('69.96'), 'Pending', datetime.datetime(2024, 12, 18, 9, 10)),
 (5002, 1, datetime.datetime(2024, 12, 19, 10, 20), Decimal('120.00'), 'Shipped', datetime.datetime(2024, 12, 19, 10, 25)),
 (5003, 2, datetime.datetime(2024, 12, 20, 11, 0), Decimal('454.21'), 'Delivered', datetime.datetime(2024, 12, 20, 11, 10))]

### **INSERT INTO ORDER ITEMS**

In [23]:
#Creates the path to the customers sql script
orderItemsDataPath = project_root / "DML" / "Insert_Data" / "insertIntoOrderItems.sql"

#Reads the sql script
orderItemsContent = read_sql_file(orderItemsDataPath)

#Creates the orders table
%sql $orderItemsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
7 rows affected.

[]

In [24]:
%%sql

SELECT * FROM `Order_Items`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
7 rows affected.

[(1, 5001, 101, 2, Decimal('15.99'), Decimal('31.98')),
 (2, 5001, 105, 2, Decimal('18.99'), Decimal('37.98')),
 (3, 5002, 103, 1, Decimal('120.00'), Decimal('120.00')),
 (4, 5003, 104, 1, Decimal('220.75'), Decimal('220.75')),
 (5, 5003, 103, 1, Decimal('120.00'), Decimal('120.00')),
 (6, 5003, 106, 3, Decimal('32.49'), Decimal('97.47')),
 (7, 5003, 101, 1, Decimal('15.99'), Decimal('15.99'))]

### **INSERT INTO PROCUREMENT STAFF**

In [25]:
#Creates the path to the customers sql script
procurementDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProcurementStaff.sql"

#Reads the sql script
procurementContent = read_sql_file(procurementDataPath)

#Creates the orders table
%sql $procurementContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[]

In [26]:
%%sql 

SELECT * FROM `procurement_staff`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[(9001, 'Michael', 'Addo', 'michael.addo@example.com', '+233209876543', 'Inventory Manager', 1),
 (9002, 'Linda', 'Asare', 'linda.asare@example.com', '+233243210987', 'Stock Supervisor', 1)]

### **INSERT INTO INVENTORY**

In [27]:
#Creates the path to the customers sql script
inventoryDataPath = project_root / "DML" / "Insert_Data" / "insertIntoInventory.sql"

#Reads the sql script
inventoryContent = read_sql_file(inventoryDataPath)

#Creates the orders table
%sql $inventoryContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[]

In [28]:
%%sql 

SELECT * FROM `inventories`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[(1, 101, 20, 10, datetime.datetime(2024, 12, 18, 12, 0)),
 (2, 102, 9, 5, datetime.datetime(2024, 12, 18, 12, 5)),
 (3, 103, 14, 3, datetime.datetime(2024, 12, 19, 10, 0)),
 (4, 104, 8, 5, datetime.datetime(2024, 12, 19, 10, 10)),
 (5, 105, 35, 10, datetime.datetime(2024, 12, 21, 14, 20)),
 (6, 106, 50, 20, datetime.datetime(2024, 12, 22, 8, 0))]

## **KPI & Advanced SQL Querying (DML)**

### **TOTAL REVENUE FOR SHIPPED OR DELIVERED ORDERS**

In [29]:
#Creates the path to the customers sql script
revenuePath = project_root / "DML" / "KPIs" / "totalRevenue.sql"

#Reads the sql script
revenueContent = read_sql_file(revenuePath)

#Creates the orders table
%sql $revenueContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(Decimal('574.21'),)]

### **TOP 10 CUSTOMERS BY TOTAL SPENDING**

In [30]:
#Creates the path to the customers sql script
topCustomersPath = project_root / "DML" / "KPIs" / "topCustomersBySpending.sql"

#Reads the sql script
topCustomersContent = read_sql_file(topCustomersPath)

#Creates the orders table
%sql $topCustomersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[(2, 'Ama', 'Boateng', Decimal('454.21')),
 (1, 'John', 'Mensah', Decimal('189.96'))]

### **BEST SELLING PRODUCT BASED ON QUANTITY SOLD.**

In [31]:
#Reads the sql script
bestSellingProductsContent = read_sql_file(project_root / "DML" / "KPIs" / "bestSellingProducts.sql")

#Creates the orders table
%sql $bestSellingProductsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
5 rows affected.

[(101, 'Wireless Mouse', Decimal('3')),
 (106, 'Rice Bag (25kg)', Decimal('3')),
 (103, 'Office Desk', Decimal('2')),
 (105, 'T-Shirt (Large)', Decimal('2')),
 (104, 'Ergonomic Chair', Decimal('1'))]

### **MONTHLY SALES TREND**

ShowS the total sales revenue for each month.

In [32]:
#Reads the sql script
monthlySalesTrendContent = read_sql_file(project_root / "DML" / "KPIs" / "monthlySalesTrend.sql")

#Creates the orders table
%sql $monthlySalesTrendContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[('2024-12', Decimal('574.21'))]

## **ANALYTICAL QUERIES USING WINDOW FUNCTIONS**

### **RANK SALES BY CATEGORY**

For each product category, rank the products by their total sales revenue. The #1 product in 'Electronics', the #1 in 'Apparel', etc.

In [33]:
#Reads the sql script
rankSalesCategoryContent = read_sql_file(project_root / "DML" / "Analytical_Queries" / "rankSalesCategory.sql")

#Creates the orders table
%sql $rankSalesCategoryContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
4 rows affected.

[('Electronics', 101, 'Wireless Mouse', Decimal('15.99'), 1),
 ('Furniture', 103, 'Office Desk', Decimal('240.00'), 1),
 ('Furniture', 104, 'Ergonomic Chair', Decimal('220.75'), 2),
 ('Groceries', 106, 'Rice Bag (25kg)', Decimal('97.47'), 1)]

### **CUSTOMER ORDER FREQUENCY**

Customer Order Frequency: Shows a list of customers and the date of their previous order alongside the date of their current order. This helps analyze how frequently customers return.

In [34]:
#Reads the sql script
customerOrderFrequencyContent = read_sql_file(project_root / "DML" / "Analytical_Queries" / "customerOrderFrequency.sql")

#Creates the orders table
%sql $customerOrderFrequencyContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[(1, 'John Mensah', 5001, datetime.datetime(2024, 12, 18, 9, 0), 'First Order'),
 (1, 'John Mensah', 5002, datetime.datetime(2024, 12, 19, 10, 20), '2024-12-18 09:00:00'),
 (2, 'Ama Boateng', 5003, datetime.datetime(2024, 12, 20, 11, 0), 'First Order')]

## **SQL VIEWS**

### **CREATES CUSTOMER SALES SUMMARY VIEW**

In [35]:
#Reads the sql script
customerSalesViewContent = read_sql_file(project_root / "DML" / "views" / "customerSalesView.sql")

#Creates customer sales view 
%sql $customerSalesViewContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **QUERIES CUSTOMER SALES SUMMARY VIEW**

In [36]:
%%sql

#Selects all fields in the customer sales summary view
SELECT * FROM CustomerSalesSummary;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[(1, 'John', 'Mensah', 'johnmensah@example.com', '+233201234567', 'Accra, Ghana', datetime.datetime(2024, 12, 1, 12, 0), Decimal('189.96'), 2, Decimal('94.980000'), datetime.datetime(2024, 12, 18, 9, 0), datetime.datetime(2024, 12, 19, 10, 20), '120.00', 'Shipped', Decimal('5'), 3),
 (2, 'Ama', 'Boateng', 'amaboateng@example.com', '+233545678901', 'Kumasi, Ghana', datetime.datetime(2024, 12, 3, 10, 30), Decimal('454.21'), 1, Decimal('454.210000'), datetime.datetime(2024, 12, 20, 11, 0), datetime.datetime(2024, 12, 20, 11, 0), '454.21', 'Delivered', Decimal('6'), 4),
 (3, 'Samuel', 'Osei', 'samuelosei@example.com', '+233501111222', 'Takoradi, Ghana', datetime.datetime(2024, 12, 4, 11, 45), None, None, None, None, None, None, None, None, None)]

## **TRIGGERS**

### **CREATES TRIGGER FOR LOW INVENTORY ALERTS**

In [159]:
#Reads the sql script
lowInventoryAlertContent = read_sql_file(project_root / "DML" / "triggers" / "lowInventoryAlert.sql")

In [160]:
%%sql

# Creates the trigger
$lowInventoryAlertContent

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.

[]

### **CREATES TRIGGER FOR RESOLVING LOW INVENTORY ALERTS**

In [183]:
#Reads the sql script
resolveInventoryAlertContent = read_sql_file(project_root / "DML" / "triggers" / "resolveInventoryAlert.sql")

In [184]:
%%sql

# Creates the trigger
$resolveInventoryAlertContent

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.

[]

## **STORED PROCEDURE**

### **CREATES PROCESS NEW ORDER STORED PROCEDURE**

In [182]:
#Reads the sql script
processNewOrderContent = read_sql_file(project_root / "DML" / "stored_procedures" / "processNewOrder.sql")

In [166]:
%%sql

# Create the stored procedure from file content
$processNewOrderContent

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.

[]

### **CREATES AN ORDER USING THE PROCESS NEW ORDER STORED PROCEDURE**

In [167]:
%%sql

SET @CustomerID = 3;

SET @newOrders = '
[
  {"ProductID": 104, "Quantity": 4}
]';

#Calss the ProcessNewOrder stored procedure
CALL ProcessNewOrder(@CustomerID, @newOrders);

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [168]:
%sql SELECT * FROM inventories;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[(1, 101, 5, 10, datetime.datetime(2025, 12, 25, 15, 54, 3)),
 (2, 102, 3, 5, datetime.datetime(2025, 12, 25, 18, 4, 21)),
 (3, 103, 2, 3, datetime.datetime(2025, 12, 25, 15, 54, 3)),
 (4, 104, 0, 5, datetime.datetime(2025, 12, 25, 18, 34, 51)),
 (5, 105, 35, 10, datetime.datetime(2024, 12, 21, 14, 20)),
 (6, 106, 25, 20, datetime.datetime(2025, 12, 25, 15, 54, 3))]

In [169]:
%%sql 

SELECT * FROM Inventory_Alerts;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[(1, 102, 'Low stock: Quantity 5 is at or below reorder level 5', datetime.datetime(2025, 12, 25, 18, 1, 48), 0, None),
 (2, 104, 'Low stock: Quantity 4 is at or below reorder level 5', datetime.datetime(2025, 12, 25, 18, 32, 29), 0, None)]

### **UPDATES A LOW INVENTORY TO TEST THE RESOLVE INVENTORY ALERT TRIGGER**

In [180]:
%sql SELECT * FROM inventories

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[(1, 101, 5, 10, datetime.datetime(2025, 12, 25, 15, 54, 3)),
 (2, 102, 3, 5, datetime.datetime(2025, 12, 25, 18, 4, 21)),
 (3, 103, 2, 3, datetime.datetime(2025, 12, 25, 15, 54, 3)),
 (4, 104, 0, 5, datetime.datetime(2025, 12, 25, 18, 34, 51)),
 (5, 105, 35, 10, datetime.datetime(2024, 12, 21, 14, 20)),
 (6, 106, 25, 20, datetime.datetime(2025, 12, 25, 15, 54, 3))]

In [185]:
%%sql

UPDATE Inventories
SET QuantityOnHand = 25
WHERE InventoryID = 4;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[]

In [187]:
%sql SELECT * FROM Inventory_Alerts;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[(1, 102, 'Low stock: Quantity 5 is at or below reorder level 5', datetime.datetime(2025, 12, 25, 18, 1, 48), 0, None, None),
 (2, 104, 'Stock replenished', datetime.datetime(2025, 12, 25, 18, 32, 29), 1, 9001, datetime.datetime(2025, 12, 25, 21, 23, 50))]