# **INVENTORY AND ORDER MANAGEMENT SYSTEM**

Handles everything from server connection, db creation and connection, table creations, CRUD operations on the tables created, stored procedures, triggers and analysis.

## **IMPORT PACKAGES**

In [29]:
#Import os and sys
import os
import sys 
from pathlib import Path


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from Config.config import loadEnv

#Imports read files from Read files module
from Read_files.readFile import read_sql_file

## **BYPASS KEY ERROR**

In [30]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [31]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [32]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://root:***@localhost:3306/
   mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [33]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[('inventory',)]

That clearly shows that we are connected to the inventory database

## **TABLE CREATION**

Creates the customers, orders, orderItems, products, inventory, productCategory, and procurement staff tables

### **CUSTOMERS TABLE**

In [34]:
#Creates the path to the customers sql script
customersTablePath = project_root / "DDL" / "Create_Tables" / "customersTable.sql"

#Reads the sql script
customersTableContent = read_sql_file(customersTablePath)

#Creates the customers table
%sql $customersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDERS TABLE**

In [35]:
#Creates the path to the customers sql script
ordersTablePath = project_root / "DDL" / "Create_Tables" / "ordersTable.sql"

#Reads the sql script
ordersTablecontent = read_sql_file(ordersTablePath)

#Creates the orders table
%sql $ordersTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCT CATEGORY**

In [36]:
#Creates the path to the customers sql script
productsCatTablePath = project_root / "DDL" / "Create_Tables" / "productCategoryTable.sql"

#Reads the sql script
productsCatTablecontent = read_sql_file(productsCatTablePath)

#Creates the orders table
%sql $productsCatTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCTS**

In [37]:
#Creates the path to the customers sql script
productsTablePath = project_root / "DDL" / "Create_Tables" / "productsTable.sql"

#Reads the sql script
productsTablecontent = read_sql_file(productsTablePath)

#Creates the orders table
%sql $productsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDER ITEMS**

In [38]:
#Creates the path to the customers sql script
orderItemTablePath = project_root / "DDL" / "Create_Tables" / "orderItemsTable.sql"

#Reads the sql script
orderItemTablecontent = read_sql_file(orderItemTablePath)

#Creates the orders table
%sql $orderItemTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY**

In [39]:
#Creates the path to the customers sql script
inventoryTablePath = project_root / "DDL" / "Create_Tables" / "inventoryTable.sql"

#Reads the sql script
inventoryTablecontent = read_sql_file(inventoryTablePath)

#Creates the orders table
%sql $inventoryTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PROCUREMENT STAFF**

In [40]:
#Creates the path to the customers sql script
procurementTablePath = project_root / "DDL" / "Create_Tables" / "procurementsTAFFTable.sql"

#Reads the sql script
procurementTablecontent = read_sql_file(procurementTablePath)

#Creates the orders table
%sql $procurementTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY ALERTS**

In [41]:
#Creates the path to the customers sql script
inventoryAlertsTablePath = project_root / "DDL" / "Create_Tables" / "inventoryAlertSTable.sql"

#Reads the sql script
inventoryAlertsTablecontent = read_sql_file(inventoryAlertsTablePath)

#Creates the orders table
%sql $inventoryAlertsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [42]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
8 rows affected.

[('customers',),
 ('inventories',),
 ('inventory_alerts',),
 ('order_items',),
 ('orders',),
 ('procurement_staff',),
 ('product_categories',),
 ('products',)]

## **INSERT VALUES INTO THE DATABASE**

### **INSERT INTO PRODUCT CATEGORY**

In [43]:
#Creates the path to the customers sql script
productCatDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProductCat.sql"

#Reads the sql script
productCatcontent = read_sql_file(productCatDataPath)

#Creates the orders table
%sql $productCatcontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
5 rows affected.

[]

In [44]:
%%sql

#Reads all the data in the product category table

SELECT * FROM `product_categories`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
5 rows affected.

[(1, 'Electronics', datetime.datetime(2025, 12, 23, 20, 44, 28), 1),
 (2, 'Furniture', datetime.datetime(2025, 11, 2, 11, 15), 1),
 (3, 'Groceries', datetime.datetime(2023, 11, 3, 9, 20), 1),
 (4, 'Clothing', datetime.datetime(2024, 11, 5, 12, 40), 1),
 (5, 'Automotive', datetime.datetime(2024, 11, 10, 8, 30), 0)]

### **INSERT INTO PRODUCTS**

In [45]:
#Creates the path to the customers sql script
productsDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProducts.sql"

#Reads the sql script
productscontent = read_sql_file(productsDataPath)

#Creates the orders table
%sql $productscontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[]

In [46]:
%%sql

#Outputs all the data in the Products table

SELECT * FROM `products`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[(101, 'Wireless Mouse', 1, Decimal('15.99'), 'ELEC-MSE-001', datetime.datetime(2024, 12, 1, 10, 0)),
 (102, 'Mechanical Keyboard', 1, Decimal('45.50'), 'ELEC-KBD-002', datetime.datetime(2024, 12, 2, 11, 0)),
 (103, 'Office Desk', 2, Decimal('120.00'), 'FURN-DSK-003', datetime.datetime(2024, 12, 5, 9, 30)),
 (104, 'Ergonomic Chair', 2, Decimal('220.75'), 'FURN-CHR-004', datetime.datetime(2024, 12, 8, 14, 0)),
 (105, 'T-Shirt (Large)', 4, Decimal('18.99'), 'CLTH-TSH-005', datetime.datetime(2024, 12, 10, 15, 10)),
 (106, 'Rice Bag (25kg)', 3, Decimal('32.49'), 'GROC-RIC-006', datetime.datetime(2024, 12, 15, 8, 50))]

### **INSERT INTO CUSTOMERS**

In [47]:
#Creates the path to the customers sql script
customersDataPath = project_root / "DML" / "Insert_Data" / "insertIntoCustomers.sql"

#Reads the sql script
customersContent = read_sql_file(customersDataPath)

#Creates the orders table
%sql $customersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory

3 rows affected.

[]

In [48]:
%%sql 

SELECT * FROM `customers`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[(1, 'John', 'Mensah', 'johnmensah@example.com', '+233201234567', 'Accra, Ghana', datetime.datetime(2024, 12, 1, 12, 0), 1),
 (2, 'Ama', 'Boateng', 'amaboateng@example.com', '+233545678901', 'Kumasi, Ghana', datetime.datetime(2024, 12, 3, 10, 30), 1),
 (3, 'Samuel', 'Osei', 'samuelosei@example.com', '+233501111222', 'Takoradi, Ghana', datetime.datetime(2024, 12, 4, 11, 45), 1)]

### **INSERT INTO ORDERS**

In [49]:
#Creates the path to the customers sql script
ordersDataPath = project_root / "DML" / "Insert_Data" / "insertIntoOrders.sql"

#Reads the sql script
ordersContent = read_sql_file(ordersDataPath)

#Creates the orders table
%sql $ordersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[]

In [50]:
%%sql 

SELECT * FROM `orders`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
3 rows affected.

[(5001, 1, datetime.datetime(2024, 12, 18, 9, 0), Decimal('69.96'), 'Pending', datetime.datetime(2024, 12, 18, 9, 10)),
 (5002, 1, datetime.datetime(2024, 12, 19, 10, 20), Decimal('120.00'), 'Shipped', datetime.datetime(2024, 12, 19, 10, 25)),
 (5003, 2, datetime.datetime(2024, 12, 20, 11, 0), Decimal('454.21'), 'Delivered', datetime.datetime(2024, 12, 20, 11, 10))]

### **INSERT INTO ORDER ITEMS**

In [51]:
#Creates the path to the customers sql script
orderItemsDataPath = project_root / "DML" / "Insert_Data" / "insertIntoOrderItems.sql"

#Reads the sql script
orderItemsContent = read_sql_file(orderItemsDataPath)

#Creates the orders table
%sql $orderItemsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
7 rows affected.

[]

In [52]:
%%sql

SELECT * FROM `Order_Items`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
7 rows affected.

[(1, 5001, 101, 2, '1001', Decimal('15.99'), Decimal('31.98')),
 (2, 5001, 105, 2, '1005', Decimal('18.99'), Decimal('37.98')),
 (3, 5002, 103, 1, '1003', Decimal('120.00'), Decimal('120.00')),
 (4, 5003, 104, 1, '1004', Decimal('220.75'), Decimal('220.75')),
 (5, 5003, 103, 1, '1003', Decimal('120.00'), Decimal('120.00')),
 (6, 5003, 106, 3, '1006', Decimal('32.49'), Decimal('97.47')),
 (7, 5003, 101, 1, '1001', Decimal('15.99'), Decimal('15.99'))]

### **INSERT INTO PROCUREMENT STAFF**

In [53]:
#Creates the path to the customers sql script
procurementDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProcurementStaff.sql"

#Reads the sql script
procurementContent = read_sql_file(procurementDataPath)

#Creates the orders table
%sql $procurementContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[]

In [54]:
%%sql 

SELECT * FROM `procurement_staff`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[(9001, 'Michael', 'Addo', 'michael.addo@example.com', '+233209876543', 'Inventory Manager', 1),
 (9002, 'Linda', 'Asare', 'linda.asare@example.com', '+233243210987', 'Stock Supervisor', 1)]

### **INSERT INTO INVENTORY**

In [55]:
#Creates the path to the customers sql script
inventoryDataPath = project_root / "DML" / "Insert_Data" / "insertIntoInventory.sql"

#Reads the sql script
inventoryContent = read_sql_file(inventoryDataPath)

#Creates the orders table
%sql $inventoryContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[]

In [56]:
%%sql 

SELECT * FROM `inventories`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
6 rows affected.

[(1, 101, 20, 10, datetime.datetime(2024, 12, 18, 12, 0)),
 (2, 102, 9, 5, datetime.datetime(2024, 12, 18, 12, 5)),
 (3, 103, 14, 3, datetime.datetime(2024, 12, 19, 10, 0)),
 (4, 104, 8, 5, datetime.datetime(2024, 12, 19, 10, 10)),
 (5, 105, 35, 10, datetime.datetime(2024, 12, 21, 14, 20)),
 (6, 106, 50, 20, datetime.datetime(2024, 12, 22, 8, 0))]

## **KPI & Advanced SQL Querying (DML)**

### **TOTAL REVENUE FOR SHIPPED OR DELIVERED ORDERS**

In [63]:
#Creates the path to the customers sql script
revenuePath = project_root / "DML" / "KPIs" / "totalRevenue.sql"

#Reads the sql script
revenueContent = read_sql_file(revenuePath)

#Creates the orders table
%sql $revenueContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(Decimal('574.21'),)]

### **TOP 10 CUSTOMERS BY TOTAL SPENDING**