# **INVENTORY AND ORDER MANAGEMENT SYSTEM**

The Inventory and Order Management System is a database-driven application designed to efficiently manage product inventory, customer orders, and operational workflows. The system handles the complete lifecycle of data management, from database setup and connectivity to advanced automation and analysis.

It establishes secure server and database connections, automates database and table creation, and supports full CRUD (Create, Read, Update, Delete) operations across all core entities. To ensure data integrity and consistency, the system incorporates stored procedures for reusable business logic and triggers for automated responses to key database events such as inventory updates.

Additionally, the project includes analytical queries and reporting features that provide insights into inventory levels, order status, and operational trends.

## **IMPORT PACKAGES**

In [1]:
#Import os and sys
import os
import sys 
from pathlib import Path


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from Config.config import loadEnv

#Imports read files from Read files module
from Read_files.readFile import read_sql_file

## **BYPASS KEY ERROR**

In [2]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [3]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [4]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

 * mysql+pymysql://root:***@localhost:3306/
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [5]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[('inventory',)]

That clearly shows that we are connected to the inventory database

## **TABLE CREATION**

Creates the customers, orders, orderItems, products, inventory, productCategory, and procurement staff tables

### **CUSTOMERS TABLE**

In [6]:
#Creates the path to the customers sql script
customersTablePath = project_root / "DDL" / "Create_Tables" / "customersTable.sql"

#Reads the sql script
customersTableContent = read_sql_file(customersTablePath)

#Creates the customers table
%sql $customersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDERS TABLE**

In [7]:
#Creates the path to the customers sql script
ordersTablePath = project_root / "DDL" / "Create_Tables" / "ordersTable.sql"

#Reads the sql script
ordersTablecontent = read_sql_file(ordersTablePath)

#Creates the orders table
%sql $ordersTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCT CATEGORY**

In [8]:
#Creates the path to the customers sql script
productsCatTablePath = project_root / "DDL" / "Create_Tables" / "productCategoryTable.sql"

#Reads the sql script
productsCatTablecontent = read_sql_file(productsCatTablePath)

#Creates the orders table
%sql $productsCatTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PRODUCTS**

In [9]:
#Creates the path to the customers sql script
productsTablePath = project_root / "DDL" / "Create_Tables" / "productsTable.sql"

#Reads the sql script
productsTablecontent = read_sql_file(productsTablePath)

#Creates the orders table
%sql $productsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **ORDER ITEMS**

In [10]:
#Creates the path to the customers sql script
orderItemTablePath = project_root / "DDL" / "Create_Tables" / "orderItemsTable.sql"

#Reads the sql script
orderItemTablecontent = read_sql_file(orderItemTablePath)

#Creates the orders table
%sql $orderItemTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY**

In [11]:
#Creates the path to the customers sql script
inventoryTablePath = project_root / "DDL" / "Create_Tables" / "inventoryTable.sql"

#Reads the sql script
inventoryTablecontent = read_sql_file(inventoryTablePath)

#Creates the orders table
%sql $inventoryTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **PROCUREMENT STAFF**

In [12]:
#Creates the path to the customers sql script
procurementTablePath = project_root / "DDL" / "Create_Tables" / "procurementsTAFFTable.sql"

#Reads the sql script
procurementTablecontent = read_sql_file(procurementTablePath)

#Creates the orders table
%sql $procurementTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **INVENTORY ALERTS**

In [13]:
#Creates the path to the customers sql script
inventoryAlertsTablePath = project_root / "DDL" / "Create_Tables" / "inventoryAlertSTable.sql"

#Reads the sql script
inventoryAlertsTablecontent = read_sql_file(inventoryAlertsTablePath)

#Creates the orders table
%sql $inventoryAlertsTablecontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [14]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
8 rows affected.

[('customers',),
 ('inventories',),
 ('inventory_alerts',),
 ('order_items',),
 ('orders',),
 ('procurement_staff',),
 ('product_categories',),
 ('products',)]

## **INSERT VALUES INTO THE DATABASE**

### **INSERT INTO PRODUCT CATEGORY**

In [15]:
#Creates the path to the customers sql script
productCatDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProductCat.sql"

#Reads the sql script
productCatcontent = read_sql_file(productCatDataPath)

#Creates the orders table
%sql $productCatcontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
15 rows affected.

[]

In [16]:
%%sql

#Reads all the data in the product category table

SELECT * FROM `product_categories`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
15 rows affected.

[(1, 'Electronics', datetime.datetime(2025, 12, 26, 16, 4, 23), 1),
 (2, 'Furniture', datetime.datetime(2025, 11, 2, 11, 15), 1),
 (3, 'Groceries', datetime.datetime(2023, 11, 3, 9, 20), 1),
 (4, 'Clothing', datetime.datetime(2024, 11, 5, 12, 40), 1),
 (5, 'Automotive', datetime.datetime(2024, 11, 10, 8, 30), 0),
 (6, 'Home Appliances', datetime.datetime(2024, 11, 12, 9, 0), 1),
 (7, 'Sports & Outdoors', datetime.datetime(2024, 11, 15, 10, 30), 1),
 (8, 'Books & Media', datetime.datetime(2024, 11, 18, 14, 20), 1),
 (9, 'Health & Beauty', datetime.datetime(2024, 11, 20, 11, 0), 1),
 (10, 'Toys & Games', datetime.datetime(2024, 11, 22, 13, 45), 1),
 (11, 'Office Supplies', datetime.datetime(2024, 11, 25, 8, 15), 1),
 (12, 'Garden & Outdoor', datetime.datetime(2024, 11, 28, 9, 30), 1),
 (13, 'Pet Supplies', datetime.datetime(2024, 12, 1, 10, 0), 1),
 (14, 'Baby Products', datetime.datetime(2024, 12, 3, 11, 20), 1),
 (15, 'Hardware & Tools', datetime.datetime(2024, 12, 5, 14, 0), 1)]

### **INSERT INTO PRODUCTS**

In [17]:
#Creates the path to the customers sql script
productsDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProducts.sql"

#Reads the sql script
productscontent = read_sql_file(productsDataPath)

#Creates the orders table
%sql $productscontent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
30 rows affected.

[]

In [18]:
%%sql

#Outputs all the data in the Products table

SELECT * FROM `products`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
30 rows affected.

[(101, 'Wireless Mouse', 1, Decimal('15.99'), 'ELEC-MSE-001', datetime.datetime(2024, 12, 1, 10, 0)),
 (102, 'Mechanical Keyboard', 1, Decimal('45.50'), 'ELEC-KBD-002', datetime.datetime(2024, 12, 2, 11, 0)),
 (103, 'USB-C Hub 7-in-1', 1, Decimal('29.99'), 'ELEC-HUB-003', datetime.datetime(2024, 12, 3, 9, 30)),
 (104, 'Bluetooth Speaker', 1, Decimal('65.00'), 'ELEC-SPK-004', datetime.datetime(2024, 12, 4, 14, 15)),
 (105, 'Office Desk', 2, Decimal('120.00'), 'FURN-DSK-001', datetime.datetime(2024, 12, 5, 9, 30)),
 (106, 'Ergonomic Chair', 2, Decimal('220.75'), 'FURN-CHR-002', datetime.datetime(2024, 12, 8, 14, 0)),
 (107, 'Bookshelf 5-Tier', 2, Decimal('85.50'), 'FURN-SHF-003', datetime.datetime(2024, 12, 9, 10, 20)),
 (108, 'Rice Bag (25kg)', 3, Decimal('32.49'), 'GROC-RIC-001', datetime.datetime(2024, 12, 15, 8, 50)),
 (109, 'Cooking Oil (5L)', 3, Decimal('18.75'), 'GROC-OIL-002', datetime.datetime(2024, 12, 16, 9, 0)),
 (110, 'Sugar (2kg)', 3, Decimal('8.50'), 'GROC-SUG-003', datetime.datetime(2024, 12, 17, 10, 30)),
 (111, 'T-Shirt (Large)', 4, Decimal('18.99'), 'CLTH-TSH-001', datetime.datetime(2024, 12, 10, 15, 10)),
 (112, 'Jeans (32W)', 4, Decimal('45.00'), 'CLTH-JNS-002', datetime.datetime(2024, 12, 11, 11, 30)),
 (113, 'Hoodie (Medium)', 4, Decimal('38.50'), 'CLTH-HOD-003', datetime.datetime(2024, 12, 12, 13, 45)),
 (114, 'Blender 600W', 6, Decimal('55.00'), 'APPL-BLD-001', datetime.datetime(2024, 12, 18, 10, 0)),
 (115, 'Microwave Oven', 6, Decimal('125.00'), 'APPL-MIC-002', datetime.datetime(2024, 12, 19, 11, 15)),
 (116, 'Electric Kettle', 6, Decimal('28.99'), 'APPL-KTL-003', datetime.datetime(2024, 12, 20, 9, 30)),
 (117, 'Yoga Mat', 7, Decimal('22.50'), 'SPRT-YGA-001', datetime.datetime(2024, 12, 21, 14, 0)),
 (118, 'Dumbbell Set 10kg', 7, Decimal('42.00'), 'SPRT-DMB-002', datetime.datetime(2024, 12, 22, 10, 30)),
 (119, 'Camping Tent 4-Person', 7, Decimal('95.00'), 'SPRT-TNT-003', datetime.datetime(2024, 12, 23, 11, 45)),
 (120, 'Python Programming Guide', 8, Decimal('35.00'), 'BOOK-PYT-001', datetime.datetime(2024, 12, 24, 9, 0)),
 (121, 'Data Science Essentials', 8, Decimal('42.50'), 'BOOK-DAT-002', datetime.datetime(2024, 12, 25, 10, 15)),
 (122, 'Shampoo 500ml', 9, Decimal('12.99'), 'HLTH-SHP-001', datetime.datetime(2024, 12, 26, 11, 30)),
 (123, 'Face Cream 50ml', 9, Decimal('24.50'), 'HLTH-CRM-002', datetime.datetime(2024, 12, 27, 13, 0)),
 (124, 'Vitamin C Supplement', 9, Decimal('18.75'), 'HLTH-VIT-003', datetime.datetime(2024, 12, 28, 14, 20)),
 (125, 'Building Blocks Set', 10, Decimal('32.00'), 'TOYS-BLK-001', datetime.datetime(2024, 12, 29, 10, 0)),
 (126, 'Board Game Classic', 10, Decimal('28.50'), 'TOYS-BRD-002', datetime.datetime(2024, 12, 30, 11, 0)),
 (127, 'A4 Paper Ream', 11, Decimal('15.00'), 'OFFC-PPR-001', datetime.datetime(2024, 12, 31, 9, 30)),
 (128, 'Desk Organizer', 11, Decimal('19.99'), 'OFFC-ORG-002', datetime.datetime(2025, 1, 1, 10, 45)),
 (129, 'Dog Food 10kg', 13, Decimal('38.00'), 'PETS-DOG-001', datetime.datetime(2025, 1, 2, 11, 0)),
 (130, 'Cat Litter 5kg', 13, Decimal('22.50'), 'PETS-CAT-002', datetime.datetime(2025, 1, 3, 12, 15))]

### **INSERT INTO CUSTOMERS**

In [19]:
#Creates the path to the customers sql script
customersDataPath = project_root / "DML" / "Insert_Data" / "insertIntoCustomers.sql"

#Reads the sql script
customersContent = read_sql_file(customersDataPath)

#Creates the orders table
%sql $customersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
15 rows affected.

[]

In [20]:
%%sql 

SELECT * FROM `customers`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
15 rows affected.

[(1, 'John', 'Mensah', 'johnmensah@example.com', '+233201234567', 'Accra, Ghana', datetime.datetime(2024, 12, 1, 12, 0), 1),
 (2, 'Ama', 'Boateng', 'amaboateng@example.com', '+233545678901', 'Kumasi, Ghana', datetime.datetime(2024, 12, 3, 10, 30), 1),
 (3, 'Samuel', 'Osei', 'samuelosei@example.com', '+233501111222', 'Takoradi, Ghana', datetime.datetime(2024, 12, 4, 11, 45), 1),
 (4, 'Akosua', 'Adjei', 'akosuaadjei@example.com', '+233244567890', 'Tema, Ghana', datetime.datetime(2024, 12, 5, 9, 15), 1),
 (5, 'Kwame', 'Asante', 'kwameasante@example.com', '+233559876543', 'Cape Coast, Ghana', datetime.datetime(2024, 12, 6, 14, 30), 1),
 (6, 'Abena', 'Owusu', 'abenaowusu@example.com', '+233208765432', 'Sunyani, Ghana', datetime.datetime(2024, 12, 7, 10, 0), 1),
 (7, 'Kofi', 'Antwi', 'kofiantwi@example.com', '+233543216789', 'Tamale, Ghana', datetime.datetime(2024, 12, 8, 11, 20), 1),
 (8, 'Efua', 'Darko', 'efuadarko@example.com', '+233261234567', 'Ho, Ghana', datetime.datetime(2024, 12, 9, 13, 45), 1),
 (9, 'Yaw', 'Boakye', 'yawboakye@example.com', '+233557654321', 'Bolgatanga, Ghana', datetime.datetime(2024, 12, 10, 15, 0), 1),
 (10, 'Adjoa', 'Ofori', 'adjoaofori@example.com', '+233209871234', 'Wa, Ghana', datetime.datetime(2024, 12, 11, 9, 30), 1),
 (11, 'Kwabena', 'Appiah', 'kwabenaappiah@example.com', '+233548765432', 'Koforidua, Ghana', datetime.datetime(2024, 12, 12, 10, 45), 1),
 (12, 'Akua', 'Sarpong', 'akuasarpong@example.com', '+233276543210', 'Techiman, Ghana', datetime.datetime(2024, 12, 13, 12, 0), 1),
 (13, 'Kwesi', 'Baah', 'kwesibaah@example.com', '+233501239876', 'Obuasi, Ghana', datetime.datetime(2024, 12, 14, 14, 15), 1),
 (14, 'Adwoa', 'Frimpong', 'adwoafrimpong@example.com', '+233245678901', 'Berekum, Ghana', datetime.datetime(2024, 12, 15, 16, 30), 1),
 (15, 'Fiifi', 'Nketia', 'fiifinketia@example.com', '+233558901234', 'Winneba, Ghana', datetime.datetime(2024, 12, 16, 11, 0), 1)]

### **INSERT INTO ORDERS**

In [21]:
#Creates the path to the customers sql script
ordersDataPath = project_root / "DML" / "Insert_Data" / "insertIntoOrders.sql"

#Reads the sql script
ordersContent = read_sql_file(ordersDataPath)

#Creates the orders table
%sql $ordersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
20 rows affected.

[]

In [22]:
%%sql 

SELECT * FROM `orders`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
20 rows affected.

[(5001, 1, datetime.datetime(2024, 12, 18, 10, 30), Decimal('69.96'), 'Delivered'),
 (5002, 1, datetime.datetime(2024, 12, 20, 14, 15), Decimal('120.00'), 'Delivered'),
 (5003, 1, datetime.datetime(2024, 12, 22, 9, 45), Decimal('195.49'), 'Shipped'),
 (5004, 2, datetime.datetime(2024, 12, 19, 11, 0), Decimal('454.21'), 'Delivered'),
 (5005, 2, datetime.datetime(2024, 12, 23, 15, 30), Decimal('157.49'), 'Pending'),
 (5006, 3, datetime.datetime(2024, 12, 20, 10, 20), Decimal('238.50'), 'Delivered'),
 (5007, 3, datetime.datetime(2024, 12, 24, 13, 0), Decimal('86.99'), 'Shipped'),
 (5008, 4, datetime.datetime(2024, 12, 21, 9, 0), Decimal('180.00'), 'Delivered'),
 (5009, 4, datetime.datetime(2024, 12, 25, 16, 45), Decimal('125.00'), 'Pending'),
 (5010, 5, datetime.datetime(2024, 12, 21, 14, 30), Decimal('95.99'), 'Delivered'),
 (5011, 6, datetime.datetime(2024, 12, 22, 10, 15), Decimal('142.49'), 'Delivered'),
 (5012, 6, datetime.datetime(2024, 12, 26, 11, 30), Decimal('77.50'), 'Shipped'),
 (5013, 7, datetime.datetime(2024, 12, 23, 12, 0), Decimal('220.75'), 'Delivered'),
 (5014, 8, datetime.datetime(2024, 12, 23, 15, 45), Decimal('134.00'), 'Shipped'),
 (5015, 8, datetime.datetime(2024, 12, 27, 10, 0), Decimal('91.50'), 'Pending'),
 (5016, 9, datetime.datetime(2024, 12, 24, 9, 30), Decimal('203.48'), 'Delivered'),
 (5017, 10, datetime.datetime(2024, 12, 24, 14, 0), Decimal('165.00'), 'Shipped'),
 (5018, 11, datetime.datetime(2024, 12, 25, 11, 15), Decimal('128.99'), 'Shipped'),
 (5019, 12, datetime.datetime(2024, 12, 26, 13, 30), Decimal('188.50'), 'Delivered'),
 (5020, 13, datetime.datetime(2024, 12, 27, 15, 0), Decimal('112.00'), 'Shipped')]

### **INSERT INTO ORDER ITEMS**

In [23]:
#Creates the path to the customers sql script
orderItemsDataPath = project_root / "DML" / "Insert_Data" / "insertIntoOrderItems.sql"

#Reads the sql script
orderItemsContent = read_sql_file(orderItemsDataPath)

#Creates the orders table
%sql $orderItemsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
54 rows affected.

[]

In [24]:
%%sql

SELECT * FROM `Order_Items`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
54 rows affected.

[(1, 5001, 101, 2, Decimal('15.99'), Decimal('31.98')),
 (2, 5001, 111, 2, Decimal('18.99'), Decimal('37.98')),
 (3, 5002, 105, 1, Decimal('120.00'), Decimal('120.00')),
 (4, 5003, 108, 3, Decimal('32.49'), Decimal('97.47')),
 (5, 5003, 109, 2, Decimal('18.75'), Decimal('37.50')),
 (6, 5003, 122, 2, Decimal('12.99'), Decimal('25.98')),
 (7, 5003, 127, 2, Decimal('15.00'), Decimal('30.00')),
 (8, 5003, 117, 1, Decimal('22.50'), Decimal('22.50')),
 (9, 5003, 110, 2, Decimal('8.50'), Decimal('17.00')),
 (10, 5003, 116, 1, Decimal('28.99'), Decimal('28.99')),
 (11, 5004, 106, 1, Decimal('220.75'), Decimal('220.75')),
 (12, 5004, 105, 1, Decimal('120.00'), Decimal('120.00')),
 (13, 5004, 108, 3, Decimal('32.49'), Decimal('97.47')),
 (14, 5004, 101, 1, Decimal('15.99'), Decimal('15.99')),
 (15, 5005, 114, 1, Decimal('55.00'), Decimal('55.00')),
 (16, 5005, 102, 2, Decimal('45.50'), Decimal('91.00')),
 (17, 5005, 123, 1, Decimal('24.50'), Decimal('24.50')),
 (18, 5005, 110, 3, Decimal('8.50'), Decimal('25.50')),
 (19, 5006, 107, 1, Decimal('85.50'), Decimal('85.50')),
 (20, 5006, 104, 1, Decimal('65.00'), Decimal('65.00')),
 (21, 5006, 113, 2, Decimal('38.50'), Decimal('77.00')),
 (22, 5006, 128, 1, Decimal('19.99'), Decimal('19.99')),
 (23, 5007, 116, 3, Decimal('28.99'), Decimal('86.97')),
 (24, 5008, 115, 1, Decimal('125.00'), Decimal('125.00')),
 (25, 5008, 114, 1, Decimal('55.00'), Decimal('55.00')),
 (26, 5009, 115, 1, Decimal('125.00'), Decimal('125.00')),
 (27, 5010, 119, 1, Decimal('95.00'), Decimal('95.00')),
 (28, 5011, 120, 2, Decimal('35.00'), Decimal('70.00')),
 (29, 5011, 121, 1, Decimal('42.50'), Decimal('42.50')),
 (30, 5011, 103, 1, Decimal('29.99'), Decimal('29.99')),
 (31, 5012, 112, 1, Decimal('45.00'), Decimal('45.00')),
 (32, 5012, 125, 1, Decimal('32.00'), Decimal('32.00')),
 (33, 5013, 106, 1, Decimal('220.75'), Decimal('220.75')),
 (34, 5014, 118, 2, Decimal('42.00'), Decimal('84.00')),
 (35, 5014, 117, 1, Decimal('22.50'), Decimal('22.50')),
 (36, 5014, 127, 1, Decimal('15.00'), Decimal('15.00')),
 (37, 5014, 123, 1, Decimal('24.50'), Decimal('24.50')),
 (38, 5015, 107, 1, Decimal('85.50'), Decimal('85.50')),
 (39, 5015, 130, 1, Decimal('22.50'), Decimal('22.50')),
 (40, 5016, 108, 3, Decimal('32.49'), Decimal('97.47')),
 (41, 5016, 109, 3, Decimal('18.75'), Decimal('56.25')),
 (42, 5016, 110, 5, Decimal('8.50'), Decimal('42.50')),
 (43, 5016, 128, 1, Decimal('19.99'), Decimal('19.99')),
 (44, 5017, 114, 3, Decimal('55.00'), Decimal('165.00')),
 (45, 5018, 103, 2, Decimal('29.99'), Decimal('59.98')),
 (46, 5018, 104, 1, Decimal('65.00'), Decimal('65.00')),
 (47, 5018, 117, 1, Decimal('22.50'), Decimal('22.50')),
 (48, 5019, 113, 2, Decimal('38.50'), Decimal('77.00')),
 (49, 5019, 112, 1, Decimal('45.00'), Decimal('45.00')),
 (50, 5019, 111, 2, Decimal('18.99'), Decimal('37.98')),
 (51, 5019, 116, 1, Decimal('28.99'), Decimal('28.99')),
 (52, 5020, 129, 2, Decimal('38.00'), Decimal('76.00')),
 (53, 5020, 130, 1, Decimal('22.50'), Decimal('22.50')),
 (54, 5020, 122, 1, Decimal('12.99'), Decimal('12.99'))]

### **INSERT INTO PROCUREMENT STAFF**

In [25]:
#Creates the path to the customers sql script
procurementDataPath = project_root / "DML" / "Insert_Data" / "insertIntoProcurementStaff.sql"

#Reads the sql script
procurementContent = read_sql_file(procurementDataPath)

#Creates the orders table
%sql $procurementContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[]

In [26]:
%%sql 

SELECT * FROM `procurement_staff`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
2 rows affected.

[(9001, 'Michael', 'Addo', 'michael.addo@example.com', '+233209876543', 'Inventory Manager', 1),
 (9002, 'Linda', 'Asare', 'linda.asare@example.com', '+233243210987', 'Stock Supervisor', 1)]

### **INSERT INTO INVENTORY**

In [28]:
#Creates the path to the customers sql script
inventoryDataPath = project_root / "DML" / "Insert_Data" / "insertIntoInventory.sql"

#Reads the sql script
inventoryContent = read_sql_file(inventoryDataPath)

#Creates the orders table
%sql $inventoryContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
30 rows affected.
(pymysql.err.OperationalError) (1065, 'Query was empty')
[SQL: ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
%%sql 

SELECT * FROM `inventories`

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
30 rows affected.

[(1, 101, 45, 10, datetime.datetime(2024, 12, 27, 12, 0)),
 (2, 102, 18, 5, datetime.datetime(2024, 12, 27, 12, 5)),
 (3, 103, 32, 8, datetime.datetime(2024, 12, 27, 10, 0)),
 (4, 104, 28, 10, datetime.datetime(2024, 12, 27, 10, 10)),
 (5, 105, 15, 5, datetime.datetime(2024, 12, 27, 14, 20)),
 (6, 106, 8, 3, datetime.datetime(2024, 12, 27, 8, 0)),
 (7, 107, 22, 7, datetime.datetime(2024, 12, 27, 9, 15)),
 (8, 108, 120, 30, datetime.datetime(2024, 12, 27, 11, 30)),
 (9, 109, 85, 20, datetime.datetime(2024, 12, 27, 10, 45)),
 (10, 110, 150, 40, datetime.datetime(2024, 12, 27, 13, 0)),
 (11, 111, 95, 25, datetime.datetime(2024, 12, 27, 14, 15)),
 (12, 112, 42, 15, datetime.datetime(2024, 12, 27, 15, 30)),
 (13, 113, 38, 12, datetime.datetime(2024, 12, 27, 16, 0)),
 (14, 114, 25, 8, datetime.datetime(2024, 12, 27, 9, 0)),
 (15, 115, 12, 5, datetime.datetime(2024, 12, 27, 10, 30)),
 (16, 116, 55, 15, datetime.datetime(2024, 12, 27, 11, 45)),
 (17, 117, 68, 20, datetime.datetime(2024, 12, 27, 12, 30)),
 (18, 118, 35, 10, datetime.datetime(2024, 12, 27, 13, 15)),
 (19, 119, 18, 6, datetime.datetime(2024, 12, 27, 14, 0)),
 (20, 120, 42, 12, datetime.datetime(2024, 12, 27, 9, 30)),
 (21, 121, 38, 10, datetime.datetime(2024, 12, 27, 10, 15)),
 (22, 122, 92, 25, datetime.datetime(2024, 12, 27, 11, 0)),
 (23, 123, 65, 18, datetime.datetime(2024, 12, 27, 12, 15)),
 (24, 124, 78, 22, datetime.datetime(2024, 12, 27, 13, 30)),
 (25, 125, 48, 15, datetime.datetime(2024, 12, 27, 14, 45)),
 (26, 126, 52, 16, datetime.datetime(2024, 12, 27, 15, 0)),
 (27, 127, 200, 50, datetime.datetime(2024, 12, 27, 9, 45)),
 (28, 128, 72, 20, datetime.datetime(2024, 12, 27, 10, 0)),
 (29, 129, 88, 25, datetime.datetime(2024, 12, 27, 11, 15)),
 (30, 130, 105, 30, datetime.datetime(2024, 12, 27, 12, 45))]

## **KPI & Advanced SQL Querying (DML)**

### **TOTAL REVENUE FOR SHIPPED OR DELIVERED ORDERS**

In [30]:
#Creates the path to the customers sql script
revenuePath = project_root / "DML" / "KPIs" / "totalRevenue.sql"

#Reads the sql script
revenueContent = read_sql_file(revenuePath)

#Creates the orders table
%sql $revenueContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(Decimal('2813.85'),)]

### **TOP 10 CUSTOMERS BY TOTAL SPENDING**

In [31]:
#Creates the path to the customers sql script
topCustomersPath = project_root / "DML" / "KPIs" / "topCustomersBySpending.sql"

#Reads the sql script
topCustomersContent = read_sql_file(topCustomersPath)

#Creates the orders table
%sql $topCustomersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
10 rows affected.

[(2, 'Ama', 'Boateng', Decimal('611.70')),
 (1, 'John', 'Mensah', Decimal('385.45')),
 (3, 'Samuel', 'Osei', Decimal('325.49')),
 (4, 'Akosua', 'Adjei', Decimal('305.00')),
 (8, 'Efua', 'Darko', Decimal('225.50')),
 (7, 'Kofi', 'Antwi', Decimal('220.75')),
 (6, 'Abena', 'Owusu', Decimal('219.99')),
 (9, 'Yaw', 'Boakye', Decimal('203.48')),
 (12, 'Akua', 'Sarpong', Decimal('188.50')),
 (10, 'Adjoa', 'Ofori', Decimal('165.00'))]

### **BEST SELLING PRODUCT BASED ON QUANTITY SOLD.**

In [32]:
#Reads the sql script
bestSellingProductsContent = read_sql_file(project_root / "DML" / "KPIs" / "bestSellingProducts.sql")

#Creates the orders table
%sql $bestSellingProductsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
5 rows affected.

[(110, 'Sugar (2kg)', Decimal('10')),
 (108, 'Rice Bag (25kg)', Decimal('9')),
 (114, 'Blender 600W', Decimal('5')),
 (109, 'Cooking Oil (5L)', Decimal('5')),
 (116, 'Electric Kettle', Decimal('5'))]

### **MONTHLY SALES TREND**

ShowS the total sales revenue for each month.

In [33]:
#Reads the sql script
monthlySalesTrendContent = read_sql_file(project_root / "DML" / "KPIs" / "monthlySalesTrend.sql")

#Creates the orders table
%sql $monthlySalesTrendContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[('2024-12', Decimal('2813.85'))]

## **ANALYTICAL QUERIES USING WINDOW FUNCTIONS**

### **RANK SALES BY CATEGORY**

For each product category, rank the products by their total sales revenue. The #1 product in 'Electronics', the #1 in 'Apparel', etc.

In [34]:
#Reads the sql script
rankSalesCategoryContent = read_sql_file(project_root / "DML" / "Analytical_Queries" / "rankSalesCategory.sql")

#Creates the orders table
%sql $rankSalesCategoryContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
27 rows affected.

[('Books & Media', 120, 'Python Programming Guide', Decimal('70.00'), 1),
 ('Books & Media', 121, 'Data Science Essentials', Decimal('42.50'), 2),
 ('Clothing', 113, 'Hoodie (Medium)', Decimal('154.00'), 1),
 ('Clothing', 112, 'Jeans (32W)', Decimal('90.00'), 2),
 ('Clothing', 111, 'T-Shirt (Large)', Decimal('75.96'), 3),
 ('Electronics', 104, 'Bluetooth Speaker', Decimal('130.00'), 1),
 ('Electronics', 103, 'USB-C Hub 7-in-1', Decimal('89.97'), 2),
 ('Electronics', 101, 'Wireless Mouse', Decimal('47.97'), 3),
 ('Furniture', 106, 'Ergonomic Chair', Decimal('441.50'), 1),
 ('Furniture', 105, 'Office Desk', Decimal('240.00'), 2),
 ('Furniture', 107, 'Bookshelf 5-Tier', Decimal('85.50'), 3),
 ('Groceries', 108, 'Rice Bag (25kg)', Decimal('292.41'), 1),
 ('Groceries', 109, 'Cooking Oil (5L)', Decimal('93.75'), 2),
 ('Groceries', 110, 'Sugar (2kg)', Decimal('59.50'), 3),
 ('Health & Beauty', 122, 'Shampoo 500ml', Decimal('38.97'), 1),
 ('Health & Beauty', 123, 'Face Cream 50ml', Decimal('24.50'), 2),
 ('Home Appliances', 114, 'Blender 600W', Decimal('220.00'), 1),
 ('Home Appliances', 116, 'Electric Kettle', Decimal('144.95'), 2),
 ('Home Appliances', 115, 'Microwave Oven', Decimal('125.00'), 3),
 ('Office Supplies', 127, 'A4 Paper Ream', Decimal('45.00'), 1),
 ('Office Supplies', 128, 'Desk Organizer', Decimal('39.98'), 2),
 ('Pet Supplies', 129, 'Dog Food 10kg', Decimal('76.00'), 1),
 ('Pet Supplies', 130, 'Cat Litter 5kg', Decimal('22.50'), 2),
 ('Sports & Outdoors', 119, 'Camping Tent 4-Person', Decimal('95.00'), 1),
 ('Sports & Outdoors', 118, 'Dumbbell Set 10kg', Decimal('84.00'), 2),
 ('Sports & Outdoors', 117, 'Yoga Mat', Decimal('67.50'), 3),
 ('Toys & Games', 125, 'Building Blocks Set', Decimal('32.00'), 1)]

### **CUSTOMER ORDER FREQUENCY**

Customer Order Frequency: Shows a list of customers and the date of their previous order alongside the date of their current order. This helps analyze how frequently customers return.

In [35]:
#Reads the sql script
customerOrderFrequencyContent = read_sql_file(project_root / "DML" / "Analytical_Queries" / "customerOrderFrequency.sql")

#Creates the orders table
%sql $customerOrderFrequencyContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
20 rows affected.

[(1, 'John Mensah', 5001, datetime.datetime(2024, 12, 18, 10, 30), 'First Order'),
 (1, 'John Mensah', 5002, datetime.datetime(2024, 12, 20, 14, 15), '2024-12-18 10:30:00'),
 (1, 'John Mensah', 5003, datetime.datetime(2024, 12, 22, 9, 45), '2024-12-20 14:15:00'),
 (2, 'Ama Boateng', 5004, datetime.datetime(2024, 12, 19, 11, 0), 'First Order'),
 (2, 'Ama Boateng', 5005, datetime.datetime(2024, 12, 23, 15, 30), '2024-12-19 11:00:00'),
 (3, 'Samuel Osei', 5006, datetime.datetime(2024, 12, 20, 10, 20), 'First Order'),
 (3, 'Samuel Osei', 5007, datetime.datetime(2024, 12, 24, 13, 0), '2024-12-20 10:20:00'),
 (4, 'Akosua Adjei', 5008, datetime.datetime(2024, 12, 21, 9, 0), 'First Order'),
 (4, 'Akosua Adjei', 5009, datetime.datetime(2024, 12, 25, 16, 45), '2024-12-21 09:00:00'),
 (5, 'Kwame Asante', 5010, datetime.datetime(2024, 12, 21, 14, 30), 'First Order'),
 (6, 'Abena Owusu', 5011, datetime.datetime(2024, 12, 22, 10, 15), 'First Order'),
 (6, 'Abena Owusu', 5012, datetime.datetime(2024, 12, 26, 11, 30), '2024-12-22 10:15:00'),
 (7, 'Kofi Antwi', 5013, datetime.datetime(2024, 12, 23, 12, 0), 'First Order'),
 (8, 'Efua Darko', 5014, datetime.datetime(2024, 12, 23, 15, 45), 'First Order'),
 (8, 'Efua Darko', 5015, datetime.datetime(2024, 12, 27, 10, 0), '2024-12-23 15:45:00'),
 (9, 'Yaw Boakye', 5016, datetime.datetime(2024, 12, 24, 9, 30), 'First Order'),
 (10, 'Adjoa Ofori', 5017, datetime.datetime(2024, 12, 24, 14, 0), 'First Order'),
 (11, 'Kwabena Appiah', 5018, datetime.datetime(2024, 12, 25, 11, 15), 'First Order'),
 (12, 'Akua Sarpong', 5019, datetime.datetime(2024, 12, 26, 13, 30), 'First Order'),
 (13, 'Kwesi Baah', 5020, datetime.datetime(2024, 12, 27, 15, 0), 'First Order')]

## **SQL VIEWS**

### **CREATES CUSTOMER SALES SUMMARY VIEW**

In [36]:
#Reads the sql script
customerSalesViewContent = read_sql_file(project_root / "DML" / "views" / "customerSalesView.sql")

#Creates customer sales view 
%sql $customerSalesViewContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

### **QUERIES CUSTOMER SALES SUMMARY VIEW**

In [37]:
%%sql

#Selects all fields in the customer sales summary view
SELECT * FROM CustomerSalesSummary;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
15 rows affected.

[(1, 'John', 'Mensah', 'johnmensah@example.com', '+233201234567', 'Accra, Ghana', datetime.datetime(2024, 12, 1, 12, 0), Decimal('385.45'), 3, Decimal('128.483333'), datetime.datetime(2024, 12, 18, 10, 30), datetime.datetime(2024, 12, 22, 9, 45), '195.49', 'Shipped', Decimal('18'), 10),
 (2, 'Ama', 'Boateng', 'amaboateng@example.com', '+233545678901', 'Kumasi, Ghana', datetime.datetime(2024, 12, 3, 10, 30), Decimal('611.70'), 2, Decimal('305.850000'), datetime.datetime(2024, 12, 19, 11, 0), datetime.datetime(2024, 12, 23, 15, 30), '157.49', 'Pending', Decimal('13'), 8),
 (3, 'Samuel', 'Osei', 'samuelosei@example.com', '+233501111222', 'Takoradi, Ghana', datetime.datetime(2024, 12, 4, 11, 45), Decimal('325.49'), 2, Decimal('162.745000'), datetime.datetime(2024, 12, 20, 10, 20), datetime.datetime(2024, 12, 24, 13, 0), '86.99', 'Shipped', Decimal('8'), 5),
 (4, 'Akosua', 'Adjei', 'akosuaadjei@example.com', '+233244567890', 'Tema, Ghana', datetime.datetime(2024, 12, 5, 9, 15), Decimal('305.00'), 2, Decimal('152.500000'), datetime.datetime(2024, 12, 21, 9, 0), datetime.datetime(2024, 12, 25, 16, 45), '125.00', 'Pending', Decimal('3'), 2),
 (5, 'Kwame', 'Asante', 'kwameasante@example.com', '+233559876543', 'Cape Coast, Ghana', datetime.datetime(2024, 12, 6, 14, 30), Decimal('95.99'), 1, Decimal('95.990000'), datetime.datetime(2024, 12, 21, 14, 30), datetime.datetime(2024, 12, 21, 14, 30), '95.99', 'Delivered', Decimal('1'), 1),
 (6, 'Abena', 'Owusu', 'abenaowusu@example.com', '+233208765432', 'Sunyani, Ghana', datetime.datetime(2024, 12, 7, 10, 0), Decimal('219.99'), 2, Decimal('109.995000'), datetime.datetime(2024, 12, 22, 10, 15), datetime.datetime(2024, 12, 26, 11, 30), '77.50', 'Shipped', Decimal('6'), 5),
 (7, 'Kofi', 'Antwi', 'kofiantwi@example.com', '+233543216789', 'Tamale, Ghana', datetime.datetime(2024, 12, 8, 11, 20), Decimal('220.75'), 1, Decimal('220.750000'), datetime.datetime(2024, 12, 23, 12, 0), datetime.datetime(2024, 12, 23, 12, 0), '220.75', 'Delivered', Decimal('1'), 1),
 (8, 'Efua', 'Darko', 'efuadarko@example.com', '+233261234567', 'Ho, Ghana', datetime.datetime(2024, 12, 9, 13, 45), Decimal('225.50'), 2, Decimal('112.750000'), datetime.datetime(2024, 12, 23, 15, 45), datetime.datetime(2024, 12, 27, 10, 0), '91.50', 'Pending', Decimal('7'), 6),
 (9, 'Yaw', 'Boakye', 'yawboakye@example.com', '+233557654321', 'Bolgatanga, Ghana', datetime.datetime(2024, 12, 10, 15, 0), Decimal('203.48'), 1, Decimal('203.480000'), datetime.datetime(2024, 12, 24, 9, 30), datetime.datetime(2024, 12, 24, 9, 30), '203.48', 'Delivered', Decimal('12'), 4),
 (10, 'Adjoa', 'Ofori', 'adjoaofori@example.com', '+233209871234', 'Wa, Ghana', datetime.datetime(2024, 12, 11, 9, 30), Decimal('165.00'), 1, Decimal('165.000000'), datetime.datetime(2024, 12, 24, 14, 0), datetime.datetime(2024, 12, 24, 14, 0), '165.00', 'Shipped', Decimal('3'), 1),
 (11, 'Kwabena', 'Appiah', 'kwabenaappiah@example.com', '+233548765432', 'Koforidua, Ghana', datetime.datetime(2024, 12, 12, 10, 45), Decimal('128.99'), 1, Decimal('128.990000'), datetime.datetime(2024, 12, 25, 11, 15), datetime.datetime(2024, 12, 25, 11, 15), '128.99', 'Shipped', Decimal('4'), 3),
 (12, 'Akua', 'Sarpong', 'akuasarpong@example.com', '+233276543210', 'Techiman, Ghana', datetime.datetime(2024, 12, 13, 12, 0), Decimal('188.50'), 1, Decimal('188.500000'), datetime.datetime(2024, 12, 26, 13, 30), datetime.datetime(2024, 12, 26, 13, 30), '188.50', 'Delivered', Decimal('6'), 4),
 (13, 'Kwesi', 'Baah', 'kwesibaah@example.com', '+233501239876', 'Obuasi, Ghana', datetime.datetime(2024, 12, 14, 14, 15), Decimal('112.00'), 1, Decimal('112.000000'), datetime.datetime(2024, 12, 27, 15, 0), datetime.datetime(2024, 12, 27, 15, 0), '112.00', 'Shipped', Decimal('4'), 3),
 (14, 'Adwoa', 'Frimpong', 'adwoafrimpong@example.com', '+233245678901', 'Berekum, Ghana', datetime.datetime(2024, 12, 15, 16, 30), None, None, None, None, None, None, None, None, None),
 (15, 'Fiifi', 'Nketia', 'fiifinketia@example.com', '+233558901234', 'Winneba, Ghana', datetime.datetime(2024, 12, 16, 11, 0), None, None, None, None, None, None, None, None, None)]

## **TRIGGERS**

### **CREATES TRIGGER FOR LOW INVENTORY ALERTS**

In [38]:
#Reads the sql script
lowInventoryAlertContent = read_sql_file(project_root / "DML" / "triggers" / "lowInventoryAlert.sql")

In [39]:
%%sql

# Creates the trigger
$lowInventoryAlertContent

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.

[]

### **CREATES TRIGGER FOR RESOLVING LOW INVENTORY ALERTS**

In [40]:
#Reads the sql script
resolveInventoryAlertContent = read_sql_file(project_root / "DML" / "triggers" / "resolveInventoryAlert.sql")

In [41]:
%%sql

# Creates the trigger
$resolveInventoryAlertContent

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.

[]

## **STORED PROCEDURE**

### **CREATES PROCESS NEW ORDER STORED PROCEDURE**

In [42]:
#Reads the sql script
processNewOrderContent = read_sql_file(project_root / "DML" / "stored_procedures" / "processNewOrder.sql")

In [43]:
%%sql

# Create the stored procedure from file content
$processNewOrderContent

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.

[]

### **CREATES AN ORDER USING THE PROCESS NEW ORDER STORED PROCEDURE**

In [45]:
%%sql

SET @CustomerID = 3;

SET @newOrders = '
[
  {"ProductID": 104, "Quantity": 4}
]';

#Calss the ProcessNewOrder stored procedure
CALL ProcessNewOrder(@CustomerID, @newOrders);

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [46]:
%sql SELECT * FROM inventories;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
30 rows affected.

[(1, 101, 45, 10, datetime.datetime(2024, 12, 27, 12, 0)),
 (2, 102, 18, 5, datetime.datetime(2024, 12, 27, 12, 5)),
 (3, 103, 32, 8, datetime.datetime(2024, 12, 27, 10, 0)),
 (4, 104, 24, 10, datetime.datetime(2025, 12, 26, 16, 12, 7)),
 (5, 105, 15, 5, datetime.datetime(2024, 12, 27, 14, 20)),
 (6, 106, 8, 3, datetime.datetime(2024, 12, 27, 8, 0)),
 (7, 107, 22, 7, datetime.datetime(2024, 12, 27, 9, 15)),
 (8, 108, 120, 30, datetime.datetime(2024, 12, 27, 11, 30)),
 (9, 109, 85, 20, datetime.datetime(2024, 12, 27, 10, 45)),
 (10, 110, 150, 40, datetime.datetime(2024, 12, 27, 13, 0)),
 (11, 111, 95, 25, datetime.datetime(2024, 12, 27, 14, 15)),
 (12, 112, 42, 15, datetime.datetime(2024, 12, 27, 15, 30)),
 (13, 113, 38, 12, datetime.datetime(2024, 12, 27, 16, 0)),
 (14, 114, 25, 8, datetime.datetime(2024, 12, 27, 9, 0)),
 (15, 115, 12, 5, datetime.datetime(2024, 12, 27, 10, 30)),
 (16, 116, 55, 15, datetime.datetime(2024, 12, 27, 11, 45)),
 (17, 117, 68, 20, datetime.datetime(2024, 12, 27, 12, 30)),
 (18, 118, 35, 10, datetime.datetime(2024, 12, 27, 13, 15)),
 (19, 119, 18, 6, datetime.datetime(2024, 12, 27, 14, 0)),
 (20, 120, 42, 12, datetime.datetime(2024, 12, 27, 9, 30)),
 (21, 121, 38, 10, datetime.datetime(2024, 12, 27, 10, 15)),
 (22, 122, 92, 25, datetime.datetime(2024, 12, 27, 11, 0)),
 (23, 123, 65, 18, datetime.datetime(2024, 12, 27, 12, 15)),
 (24, 124, 78, 22, datetime.datetime(2024, 12, 27, 13, 30)),
 (25, 125, 48, 15, datetime.datetime(2024, 12, 27, 14, 45)),
 (26, 126, 52, 16, datetime.datetime(2024, 12, 27, 15, 0)),
 (27, 127, 200, 50, datetime.datetime(2024, 12, 27, 9, 45)),
 (28, 128, 72, 20, datetime.datetime(2024, 12, 27, 10, 0)),
 (29, 129, 88, 25, datetime.datetime(2024, 12, 27, 11, 15)),
 (30, 130, 105, 30, datetime.datetime(2024, 12, 27, 12, 45))]

### **CHECKS THE ALERTS IN THE ALERT INVENTORY TABLE**

In [47]:
%%sql 

SELECT * FROM Inventory_Alerts;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.

[]

NOTE: The inventory alerts table is currently empty because we have not created any order such that the quantity on hand is less than or equal to the reoder level for any of the products

### **CREATES AN ORDER TO TEST THE LOW ALERT INVENTORY TRIGGER**

In [48]:
%sql SELECT * FROM inventories

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
30 rows affected.

[(1, 101, 45, 10, datetime.datetime(2024, 12, 27, 12, 0)),
 (2, 102, 18, 5, datetime.datetime(2024, 12, 27, 12, 5)),
 (3, 103, 32, 8, datetime.datetime(2024, 12, 27, 10, 0)),
 (4, 104, 24, 10, datetime.datetime(2025, 12, 26, 16, 12, 7)),
 (5, 105, 15, 5, datetime.datetime(2024, 12, 27, 14, 20)),
 (6, 106, 8, 3, datetime.datetime(2024, 12, 27, 8, 0)),
 (7, 107, 22, 7, datetime.datetime(2024, 12, 27, 9, 15)),
 (8, 108, 120, 30, datetime.datetime(2024, 12, 27, 11, 30)),
 (9, 109, 85, 20, datetime.datetime(2024, 12, 27, 10, 45)),
 (10, 110, 150, 40, datetime.datetime(2024, 12, 27, 13, 0)),
 (11, 111, 95, 25, datetime.datetime(2024, 12, 27, 14, 15)),
 (12, 112, 42, 15, datetime.datetime(2024, 12, 27, 15, 30)),
 (13, 113, 38, 12, datetime.datetime(2024, 12, 27, 16, 0)),
 (14, 114, 25, 8, datetime.datetime(2024, 12, 27, 9, 0)),
 (15, 115, 12, 5, datetime.datetime(2024, 12, 27, 10, 30)),
 (16, 116, 55, 15, datetime.datetime(2024, 12, 27, 11, 45)),
 (17, 117, 68, 20, datetime.datetime(2024, 12, 27, 12, 30)),
 (18, 118, 35, 10, datetime.datetime(2024, 12, 27, 13, 15)),
 (19, 119, 18, 6, datetime.datetime(2024, 12, 27, 14, 0)),
 (20, 120, 42, 12, datetime.datetime(2024, 12, 27, 9, 30)),
 (21, 121, 38, 10, datetime.datetime(2024, 12, 27, 10, 15)),
 (22, 122, 92, 25, datetime.datetime(2024, 12, 27, 11, 0)),
 (23, 123, 65, 18, datetime.datetime(2024, 12, 27, 12, 15)),
 (24, 124, 78, 22, datetime.datetime(2024, 12, 27, 13, 30)),
 (25, 125, 48, 15, datetime.datetime(2024, 12, 27, 14, 45)),
 (26, 126, 52, 16, datetime.datetime(2024, 12, 27, 15, 0)),
 (27, 127, 200, 50, datetime.datetime(2024, 12, 27, 9, 45)),
 (28, 128, 72, 20, datetime.datetime(2024, 12, 27, 10, 0)),
 (29, 129, 88, 25, datetime.datetime(2024, 12, 27, 11, 15)),
 (30, 130, 105, 30, datetime.datetime(2024, 12, 27, 12, 45))]

Lets use the stored procedure to create an order for product 101 with a quantity of 40 so that the quantity at hand will be less than the reorder level.

This will be a great start to test our low inventory alert trigger

In [49]:
%%sql

SET @CustomerID = 14;

SET @newOrders = '
[
  {"ProductID": 101, "Quantity": 40}
]';

#Calss the ProcessNewOrder stored procedure
CALL ProcessNewOrder(@CustomerID, @newOrders);

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [51]:
%%sql

#Checks the inventory table to see if the product quantity reduced after the order

SELECT * FROM `inventories`
WHERE `ProductID` = 101;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(1, 101, 5, 10, datetime.datetime(2025, 12, 26, 16, 19, 59))]

In [52]:
%%sql

#Checks the inventory alerts to see if the alert was created successfully 

SELECT * FROM `inventory_alerts`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(1, 101, 'Low stock: Quantity 5 is at or below reorder level 10', datetime.datetime(2025, 12, 26, 16, 19, 59), 0, None, None)]

The low inventory alert was created successfully

### **UPDATES A LOW INVENTORY TO TEST THE RESOLVE INVENTORY ALERT TRIGGER**

In [ ]:
%%sql 

SELECT * FROM inventories
WHERE `ProductID` = 101

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(1, 101, 5, 10, datetime.datetime(2025, 12, 26, 16, 19, 59))]

In [55]:
%%sql

#Restocks the product with productID 101

UPDATE `Inventories`
SET `QuantityOnHand` = 50
WHERE `ProductID` = 101;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[]

In [56]:
%%sql

#Checks if the restock was successful

SELECT * FROM `Inventories`
WHERE `ProductID` = 101;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(1, 101, 50, 10, datetime.datetime(2025, 12, 26, 16, 26, 24))]

In [57]:
%%sql 

#Checks if the low inventory alert that was created for the product with ID 101 has been resolved

SELECT * FROM Inventory_Alerts;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/inventory
1 rows affected.

[(1, 101, 'Stock replenished', datetime.datetime(2025, 12, 26, 16, 19, 59), 1, 9001, datetime.datetime(2025, 12, 26, 16, 26, 24))]

This clearly shows that the resolve low inventory alert trigger also works perfectly